@use 'colors' as c;
@use 'fonts' as f;
@use 'layout' as l;


html{
  @include l.page();
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
margin: 0;
padding: 0;
}

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: c.$background-color;
    }

.item{
  color: c.$navtext-color;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: f.$font-nav;
}    

.section-header{
  @include l.flex-center();
}

.heading{
  color: c.$background-color;
  text-transform: uppercase;
  font-size: 30px;
  font-family: f.$font-nav;
}