@use 'colors' as c;


html{
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
margin: 0;
padding: 0;
}

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: c.$background-color;
    }

.item{
  color: c.$navtext-color;
}    