@use 'colors' as c;
@use 'fonts' as f;
@use 'layout' as l;


html {
  @include l.page();
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: c.$background-color;
}

.item {
  color: c.$navtext-color;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: f.$font-nav;
}

.section-header {
  @include l.flex-center();
}

.heading {
  color: c.$background-color;
  text-transform: uppercase;
  font-size: 30px;
  font-family: f.$font-nav;
}

.section-about {
  background-color: c.$background-color;
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.about {
  color: #ffffff;
  align-self: center;
  padding: 10px;
  font-family: f.$font-nav;
  font-size: 18px;
}

.wrapper {
  display: flex;
  background-color: c.$background-color;
  padding: 80px;
  color: #ffffff;

}

.block {
  padding: 30px;
  font-family: f.$font-nav;
  font-size: 16px;
  display: flex;
  justify-content: space-around;

}

span {
  font-size: 70px;
  background-color: c.$block-color;
  color: c.$background-color;
  border-radius: 45%;
  text-align: center;
  align-self: center;
  font-family: f.$font-nav;
  margin: 40px;
  padding: 20px;
}

.services {
  @include l.flex-center();
  background-color: c.$background-color;
  padding: 60px;
}

.prices {

  @include l.flex-center();
  background-color: c.$background-color;
  font-family: f.$font-nav;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
}

iframe {
  margin: 40px;
}

footer {
  @include l.flex-center();
  flex-direction: column;
  background-color: c.$background-color;
  font-family: f.$font-nav;
  font-size: 18px;
  padding: 5px;
  color: c.$navtext-color;
  text-transform: uppercase;

  p {
    align-self: center;
  }
}

a {
  text-decoration: none;
  color: c.$navtext-color;
}

button {
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  background-color: c.$background-color;
  font-size: 20px;
}

@media all and (max-width: 800px) {
  .nav {
    @include l.flex-column();

    .item {
      @include l.flex-center();
    }
  }

  .section-about {
    flex-wrap: wrap;

    button {
      @include l.flex-center();
    }

    img {
      width: 50%;
    }
  }

  .wrapper {
    @include l.flex-column();
    justify-content: space-between;

    span {
      padding: 10px;
      font-size: 40px;
      margin: 10px;
    }
  }

  .services img {
    width: 90%;
  }

  .prices {
    flex-wrap: wrap;

    img {
      width: 40%;
    }

    p {
      @include l.flex-center();
      font-size: 16px;
      max-width: 300px;
    }
  }

  div .gmap-canvas {
    width: 100%;
  }


}